
/*

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; 
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ff6347; 
  font-size: 3em;
  margin-bottom: 20px;
}


#clickMeButton {
  background-color: #ff6347; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
}

#clickMeButton:hover {
  background-color: #ff4500; 
}
  */

.post {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #3aa3e0;
  transition: transform 0.2s ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post1 {
  background-color: #0bcce6; 
}


.post2 {
  background-color: #11bedd; 
}


.post3 {
  color: #1f33e0;
  background-color: #1abde6;
}


h2 {
  font-family: 'Arial', sans-serif;
  color: #1f33e0;
  background-color: #1abde6;

}
